---
import Drawer from "../components/Drawer.astro";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <style is:global>
      .article-content h1 {
        font-size: "54px";
        color: red;
      }
    </style>
  </head>
  <body class="article-content">
    <Drawer>
      <slot />
    </Drawer>
  </body>
</html>
